@font-face {
  font-family: 'Noto-Sans';
  src: url('./assets/fonts/NotoSans-Regular.ttf') format('truetype'),
  url('./assets/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 0;
  height: 100vh;
}

/*All things related to the header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(120, 129, 35);
  padding: 20px;
  margin: 0;
}

#logo-container {
  display: flex;
}

#pencil-icon {
  width: 2.5rem;
  filter: invert(95%);
}

#logo {
  color: whitesmoke;
  font-family: 'Noto-Sans';
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  gap: 5px;
}

#user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#hello {
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  justify-self: center;
}

#sign-out-btn {
  background-color: whitesmoke;
  width: 125px;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  justify-self: center;
}

/*Sidebar Styles*/

#sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  min-width: 250px;
  max-width: 250px;
  background-color: whitesmoke;
}

#time-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px 0px 10px;
}

.time-btn{
  cursor: pointer;
  border: none;
  border-radius: 0px;
  color: rgba(0, 0, 0, 0.75);
  background-color: whitesmoke;
  font-family: 'Noto-Sans';
  font-size: 1.2rem;
  display: flex;
  gap: 8px;
  text-align: left;
  align-items: center;
  padding: 10px 0px 10px 40px;
}

.time-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: black;
}

.time-icons {
  width: 1.2rem;
  filter: invert(25%);
}

/*Content Container Styles*/

#content-container {
  display: flex;
  width: 100vw;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(120, 129, 35, 0.12);
  padding: 50px;
}

.task-containers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#all-task-container {
  display: flex;
  flex-direction: column;
}

#weekly-task-container {
  display: none;
}

#daily-task-container {
  display: none;
}

.task-headers {
  margin: 0;
  padding: 5px;
  font-family: 'Noto-Sans';
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.add-task-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.add-task-paragraph {
  display: flex;
  gap: 5px;
  font-size: 1.3rem;
  margin: 0;
  font-family: 'Noto-Sans';
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  width: 500px;
}

.add-task-paragraph:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.06);
}

.add-task-paragraph:active {
  filter: invert(30%);
}

.add-task-btn {
  width: 1.3rem;
}

/*Form Styles*/

#form-box {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  gap: 5px;
}

#form-title-container {
  display: flex;
  align-items: flex-start;
}

#form-title {
  border: none;
  outline: none;
  resize: none;
  background-color: whitesmoke;
}

#cancel-btn {
  width: 1.3rem;
  transform: rotate(45deg);
  cursor: pointer;
}

#form-description {
  border: none;
  outline: none;
  resize: none;
  background-color: whitesmoke;
}

#priority-header {
  text-align: center;
  font-family: 'Noto-Sans';
  margin: 0;
}

#priority-container {
  display: flex;
  justify-content: space-between;
}

.priorities {
  list-style: none;
  font-family: 'Noto-Sans';
}

.priority-radio {
  cursor: pointer;
}

.form-btn {
  margin-top: 5px;
  padding: 5px;
  font-family: 'Noto-Sans';
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
}

.form-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: .7s;
  color: black;
}

/*Task Card Styles*/

.task-cards {
  display: flex;
  gap: 10px;
  max-width: max-content;
  background-color: whitesmoke;
  border: thin black solid;
  padding: 5px;
}

.task-cards div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-cards p {
  font-family: 'Noto-sans';
  margin: 0;
}

.task-cards h4 {
  font-family: 'Noto-sans';
  font-weight: bold;
  margin: 0;
}

