@font-face {
  font-family: 'Noto-Sans';
  src: url('./assets/fonts/NotoSans-Regular.ttf') format('truetype'),
  url('./assets/fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin: 0;
  height: 100vh;
}

/*All things related to the header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(120, 129, 35);
  padding: 10px;
  margin: 0;
}

#logo {
  color: whitesmoke;
  font-family: 'Noto-Sans';
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  display: flex;
  gap: 15px;
}

#pencil-icon {
  width: 50px;
  filter: invert(95%);
}

#user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#hello {
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  justify-self: center;
}

#sign-out-btn {
  background-color: whitesmoke;
  width: 125px;
  height: 45px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  justify-self: center;
}

#content-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#content {
  width: 100vw;
  background-image: url('./assets/images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  min-width: 250px;
  max-width: 250px;
  background-color: whitesmoke;
}

#time-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.time-btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 0.75);
  background-color: whitesmoke;
  font-family: 'Noto-Sans';
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.time-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: .7s;
}

.time-icons {
  width: 25px;
  filter: invert(25%);
}